<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Workout</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="img/weight_icon.png" width="30" height="30" alt="">
                Do it!
            </a>
        </nav>
        <div class="container mt-4 ej-filtrados">

            <div class="row">
                <div class="col col -md-12 text-right mb-4">
                    <a th:href="@{/ejercicios/crear(id=${detallesSalida.id})}" class="btn btn-outline-success">Modificar ejercicio</a>
                </div>
            </div>


            <h1>Prueba para git</h1>
            <form>
                <div>
                    <label>ID:</label>
                    <output type="text" th:text="${detallesSalida.id}">
                </div>
                <div>
                    <label>Nombre:</label>
                    <output type="text" th:text="${detallesSalida.nombre}">
                </div>
                <div>
                    <label>Zona musucular:</label>
                    <output type="text" th:text="${detallesSalida.zonaMuscular}">
                </div>
                <div>
                    <label>Zona musucular2:</label>
                    <output type="text" th:text="${detallesSalida.zonaMuscular2}">
                </div>
                <div>
                    <label>Entrenador:</label>
                    <output type="text" th:text="${detallesSalida.entrenador.nombre}">
                </div>
                <div>
                    <img th:src="${detallesSalida.imagenUrl}" alt="..."/>
                </div>


            </form>
        </div>
    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>