<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Workout</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/weight_icon.png}" width="30" height="30" alt="">
                Do it!
            </a>
            <form th:action="@{/buscar}" class="form-inline my-2 my-lg-0">
                <input name="q" class="form-control mr-sm-2" type="search" th:placeholder="${param.q}" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>

        <div class="container mt-4 ej-filtrados">
            <div class="row">
                <div class="col-md-12">
                    <h1>Nuevo ejercicio</h1>


                    <form method="POST" th:action="@{/ejercicios/guardar}" th:object="${ejercicio}">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input required="true" type="text" class="form-control" th:field="*{nombre}" id="nombre" aria-describedby="Nombre del ejercicio">
                        </div>
                        <div class="form-group">
                            <label for="zonaMuscular">Zona muscular</label>
                            <textArea th:field="*{zonaMuscular}" class="form-control" id="zonaMuscular"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="imagenUrl">URL de la imagen</label>
                            <input  th:field="*{imagenUrl}" type="text" class="form-control" id="imagenUrl" placeHolder="URL de la imagen">

                            <button type="button" id="randomImage" class="btn btn-secondary mt-2">Imagen aleatoria</button>
                            <div class="mt-2" id="imagen"></div>

                        </div>






                        <div class="form-group">
                            <label for="entrenador">Entrenador</label>
                            <select  th:field="*{entrenador}" class="form-control" id="distribuidor">
                                <option th:each="entrenador : ${entrenadores}" th:value="${entrenador.id}" th:text="${entrenador.nombre}"></option>
                            </select>
                        </div>
                        <!-- Enviamos el ID para modificar un ejercicio -->
                        <input type="hidden" class="form-control" th:field="*{id}" id="id">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>


                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <script src="../js/consumeApi.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>