<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Workout</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="img/weight_icon.png" width="30" height="30" alt="">
                Do it!
            </a>
            <form th:action="@{/buscar}" class="form-inline my-2 my-lg-0">
                <input name="q" class="form-control mr-sm-2" type="search" th:placeholder="${param.q}" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>

        <!-- FILTRO -->
        <div class="accordion" id="accordionFiltro">
            <form class="card" action="/filtrar" method="POST">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Filtro
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFiltro">
                    <div class="card-body">


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="zonaMuscular">Zona muscular</label>
                            </div>
                            <select class="custom-select"  name="zonaMuscular" id="zonaMuscular">
                                <option value="1">Todas</option>
                                <option value="trenSuperior">Tren superior</option>
                                <option value="trenInferior">Tren inferior</option>
                                <option value="pecho">Pecho</option>
                                <option value="espalda">Espalda</option>
                                <option value="brazos">Brazos</option>
                                <option value="hombro">Hombro</option>
                                <option value="gluteos">Glúteos</option>
                                <option value="cuadriceps">Cuadriceps</option>
                                <option value="gemelos">Gemelos</option>

                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Filtrar</button>

                    </div>
            </form>
        </div>
    </div>
    <!-- FILTRO -->

    <div class="container mt-4 ej-filtrados">
        <div class="row">
            <div th:each="ejercicio : ${ejerciciosSalida}" class="col-md-3 mb-4">
                <div class="card">
                    <img th:src="${ejercicio.imagenUrl}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="${ejercicio.nombre}" class="card-title"></h5>
                        <a th:href="@{/ejerciciosPorEntrenador(entrenadorId=${ejercicio.entrenador.id})}" class="badge badge-secondary" th:text="${ejercicio.entrenador.nombre}"></a>
                    </div>
                    <!-- Form + button submit para enviar parametros al controlador -->
                    <form class="card-footer text-muted" action="/detalles" method="POST">
                        <input type="text" th:value="${ejercicio.id}" name="idEjercicio" hidden>
                        <button type="submit" class="btn btn-info">Detalles</button>
                    </form>
                    <!-- Alternativa para pasar parámetros al controller -->
                    <!-- <a th:href="@{/detalles/(idEjercicio=${ejercicio.id})}" class="btn btn-info">Detalles</a> -->
                </div>
            </div>
        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>